<p>Player 1: <%= @player_1 %> vs Player 2: <%= @player_2 %></p>
<p>Player 1 attacked Player 2!!</p>
<p>Player <%= @player_1 %>: <%= $player_1.health %>HP / Player <%= @player_2 %>: <%= $player_2.health %>HP</p>
